<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".CspApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wiom Partner+"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".DashboardReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.wiom.csp.SCENARIO"/>
                <action android:name="com.wiom.csp.NAVIGATE"/>
                <action android:name="com.wiom.csp.LANG"/>
                <action android:name="com.wiom.csp.RESET"/>
                <action android:name="com.wiom.csp.FILL"/>
                <action android:name="com.wiom.csp.QA"/>
                <action android:name="com.wiom.csp.TRAINING"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
